.DS_Store

thesis/.bakalarska_prace.lb
thesis/bakalarska_prace.aux
thesis/bakalarska_prace.lof
thesis/bakalarska_prace.log
thesis/bakalarska_prace.out
thesis/bakalarska_prace.synctex.gz
thesis/bakalarska_prace.toc

source/game/InteractiveGame/proj.ios_mac/Build/*

*.o
*.d
